html {
	margin: 3em;
	background-color:white;
	font-family: Times, Ariel, sans;
	line-height: 1.5em;
	color: black;
}


/* Links are `a` elements in HTML */
a {
	text-decoration: none;
	margin: 0 0.5em 0 0;
	padding: 3px;
}

/* :hover	 is what it will look like when you hover the mouse over an element */
a:hover {
	background-color: silver;
	border: 2px solid black ;
}

/* You can define any color with a 3-digit "hex-code" */
/* The three values are from 0-F, and represent Red, Green, Blue */
header {
	color: red;
	font-size: 200%;
}

article {
/*	border: 2px solid black;
	padding: 2em;
}

/* Styles attached to element-names apply to _every_ element
	 with that name */
div {
	border: 2px solid black;
	padding: 5px;
}

/* To specify style for only _some_ elements
	 you can identify them by classes (the classes have to be
	 in the HTML)
*/
div.cts_corpus {

}


/* You can specify just a class name… */
.cts_workTitle {
	font-style: italic;
}

/* Fonts are tricky… read about them online! */
.cts_citationScheme {
	color: red;
	font-family: DejaVu-Sans-Mono, monospace;
}

.cts_corpusTitle {
	color: red ;
	border: 3px  black;
}

/* You can add space on any side of something with:
		- margin-right
		- margin-left
		- margin-top
		- margin-bottom

*/
.cts_ref {
	margin-right: 2em;
	opacity: 0.5;
}

.cts_node {
	margin-top: 1em;
	max-width: 40em;
}

progress.cts_progress {
	width: 100%;
}
